#image_container {
    width: 800px;
    height: 600px;
    margin: auto;
}

.image_in_grid {
    position: center;
    width: 400px;
    height: 300px;
    float: left;
}

.single {
    width: 800px;
    height: 600px;
}

.image_in_grid img {
    width: 100%;
}